#mainArea div {
    /*height:600px;*/
    float: left;
    border: 1px solid red;
    margin: 20px 0px 0px 20px;
}

/*svg>rect {*/
/*fill:#00FF99;*/
/*stroke:black;*/
/*stroke-width:1;*/
/*}*/

/*svg>text {*/
/*fill:#0099CC;*/
/*}*/

input[type="text"] {
    padding: 3px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
    width: 100px;
    height: 18px;
    opacity: .7;
    /*z-index: 10;*/
    position: absolute;
}

input[type="text"]:focus,
input[type="text"].focus {
    box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

.myRect {
    fill: #0099CC;
    border: 1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: center;
    z-index: 10;
    position: absolute;
    background: #eeeeef linear-gradient(#eeeeef 50%, #cdcdd6 50%);
    color: black;
    font-family: helvetica;
    /*padding: 0.5em;*/
    font-size: 0.9em;
    min-width: 80px;
    min-height: 60px;
    overflow: auto;
    /*padding: 5px 5px 5px 5px;*/
}

.myRect:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.myClose {
    fill: #70717C;
    /*z-index: 99;*/
}

.myPort {
    fill: #FFFFFF;
    stroke: black;
    stroke-width: 1;
    /*z-index: 99;*/
}

.myConnector {
    #z-index: 4;
    stroke: #61B7CF;
    stroke-width: 2;
    fill: #61B7CF;
}

.myLabel {
    background-color: white;
    padding: 0.4em;
    font: 12px sans-serif;
    color: #444;
    z-index: 21;
    border: 1px dotted gray;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
    position: absolute;
}

.hide {
    display: none;
}

.toFront {
    z-index: 99;
}

.toBack {
    z-index: 0;
}