#mainArea div {
    /*height:600px;*/
    float: left;
    border: 1px solid red;
    margin: 20px 0px 0px 20px;
}

/*svg>rect {*/
/*fill:#00FF99;*/
/*stroke:black;*/
/*stroke-width:1;*/
/*}*/

/*svg>text {*/
/*fill:#0099CC;*/
/*}*/

input[type="text"] {
    padding: 3px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
    width: 100px;
    height: 18px;
    opacity: .7;
    /*z-index: 10;*/
    position: absolute;
    font: 12px sans-serif;
}

input[type="text"]:focus,
input[type="text"].focus {
    box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

/*.myRect {
    fill: #0099CC;
    border: 1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: center;
    z-index: 10;
    position: absolute;
    background: #eeeeef linear-gradient(#eeeeef 50%, #cdcdd6 50%);
    color: black;
    font-family: helvetica;
    /!*padding: 0.5em;*!/
    font-size: 0.9em;
    min-width: 80px;
    min-height: 60px;
    overflow: auto;
    /!*padding: 5px 5px 5px 5px;*!/
    cursor: move;
}

.myRect:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
    opacity: 0.6;
    filter: alpha(opacity=60);
}*/

.myRect {
    fill: #FFFFFF;
    stroke: #4492c2;
    #border: solid #4492c2 2px;
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: center;
    z-index: 10;
    position: absolute;
    color: #211d21;
    font-family: Courier New;
    text-decoration: none;
    overflow: auto;
    /*padding: 5px 5px 5px 5px;*/
    cursor: move;
}

.myRectDash {
    stroke-dasharray: 5, 5;
}

.myRectLight {
    stroke: #9fc7e0;
}

.myRect:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.myClose {
    fill: #70717C;
    cursor: no-drop;
}

.myNResize {
    stroke: black;
    fill: white;
    cursor: n-resize;
}

.mySResize {
    stroke: black;
    fill: white;
    cursor: s-resize;
}

.myWResize {
    stroke: black;
    fill: white;
    cursor: w-resize;
}

.myEResize {
    stroke: black;
    fill: white;
    cursor: e-resize;
}

.myMidPoint {
    fill: #FFFFFF;
    stroke: grey;
    opacity: 0.5;
    stroke-width: 1;
    cursor: crosshair;
}

.myEndPoint {
    fill: #444444;
    stroke: black;
    opacity: 0.7;
    stroke-width: 1;
    cursor: pointer;
}

.myConnector {
    #z-index: 4;
    stroke: #61B7CF;
    stroke-width: 2;
    fill: none;
    cursor: move;
}

.myConnector:hover {
    stroke-width: 4;
    stroke: #5555FF;
}

.myLabel {
    background-color: white;
    padding: 0.4em;
    font: 12px sans-serif;
    color: #444;
    z-index: 21;
    border: 1px dotted gray;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
    position: absolute;
}

.hide {
    display: none;
}

.toFront {
    z-index: 99;
}

.toBack {
    z-index: 0;
}

.myGroup {
    #z-index: 4;
    stroke: #61B7CF;
    stroke-width: 2;
    stroke-dasharray: 5, 5;
    fill: none;
    cursor: move;
}

.myEllipse {
    fill: #FFFFFF;
    stroke: #4492c2;
    #border: solid #4492c2 2px;
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: center;
    z-index: 10;
    position: absolute;
    color: #211d21;
    font-family: Courier New;
    text-decoration: none;
    overflow: auto;
    /*padding: 5px 5px 5px 5px;*/
    cursor: move;
}

.myEllipse:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.myLine {
    #z-index: 4;
    stroke: #61B7CF;
    stroke-width: 2;
    stroke-dasharray: 10, 10;
    fill: none;
    cursor: move;
}

.myLine:hover {
    stroke-width: 4;
    stroke: #5555FF;
}

.myBreak {
    stroke: #61B7CF;
    stroke-width: 2;
    fill: none;
    cursor: move;
    z-index: 15;
}

.myBreak:hover {
    stroke-width: 3;
    stroke: #5555FF;
}

.myBrace {
    font: sans-serif;
    z-index: 21;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: move;
    stroke: #000000;
    stroke-width: 10px;
    fill: none;
}